$def with (session, posts)
$var title: Drafts
$var admin: $session.admin
$var email: $session.email
$var blogtitle: $session.blogtitle
$var blogtagline: $session.blogtagline

$if session.admin == True:
    $if posts == "none":
        <p>No posts yet.</p>
    $else:
        <p>Here are your drafts:</p>
        $for post in posts:
            <hr>
            <h3><a href="/admin/editor?type=draft&id=$post.id">$post.title</a></h3>
            <b>$post.date</b>
            <p>$:post.content</p>
