$def with (session, posts, recent)
$var title: $session.blogtitle
$var admin: $session.admin
$var email: $session.email
$var blogtitle: $session.blogtitle
$var blogtagline: $session.blogtagline
$var recent: $recent

$if posts == "none":
    <p>No posts yet.</p>
$else:
    $for post in posts:
        <section>
        <article class="blogpost">
        <header>
        <h2><a href="/$post.url">$post.title</a></h2>
        </header>
        <p class="postdate">$post.date[0:16]</p>
        <p>$:post.content</p>
        <p>Posted by <b>$post.author</b></p>
        <p><a href="/post?id=$post.id#comments">Comments</a></p>
        $if session.admin == True:
            <p class="small"><b><a href="/admin/editor?type=edit&id=$post.id">Edit</a></b> --
            <b><a href="/admin/delete?id=$post.id">Delete</a></b></p>
            <p></p>
        </article>
        </section>

