$def with (session, post, comments, name, comment)
$var title: $post.title
$var admin: $session.admin
$var email: $session.email
$var blogtitle: $session.blogtitle
$var blogtagline: $session.blogtagline

<section>
<header>
<h2>$post.title</h2>
</header>
<p class="postdate"><b>$post.date[0:16]</b></p>
<p>$:post.content</p>
<p>Posted by <b>$post.author</b></p>

$if session.admin == True:
    <p class="small"><b><a href="/admin/editor?type=edit&id=$post.id">Edit post</a></b> --
    <b><a href="/admin/delete?id=$post.id">Delete post</a></b></p>

<hr>
<h3>Write a comment!</h3>

$if session.email == "unknown":
    <p><i>You need to <a href="#" onclick="browserid_login()">login</a> to post comments.<br>
    (your email address will <b>not</b> be published)</i></p>

</section>

<form method="post">
<p>
<label for="name">Name: </label><input type="textbox" name="name" value="$name" maxlength="45"><br>
<label for="comment">Comment: </label><br><textarea rows="7" cols="50" name="comment" maxlength="10000">$comment</textarea><br>
<input type="submit" name="btn" value="Submit">
</p>
</form>

<section id="comments">
<h3>Comments</h3>

$for i in comments:
    <article>
    <header>
    <p><b>$i.name</b></p>
    $if session.admin == True:
        <p class="small">$i.email</p>
    <p class="small">Posted on: $i.date[0:16]</p>
    </header>
    <p><i>$i.comment</i></p>
    </article>
</section>
